- name: Install NRPE-Server
  ansible.builtin.package:
    name: nagios-nrpe-server

- name: Configure NRPE-Server
  ansible.builtin.template:
    src: "jitsi-meet.cfg.j2"
    dest: "/etc/nagios/nrpe.d/jitsi-meet.cfg"
    owner: root
    group: nagios
    mode: "0640"
  notify: Reload nagios-nrpe-server

- name: Install Nagios Plugins
  ansible.builtin.package:
    name:
      - nagios-plugins-standard
      - nagios-plugins-contrib

- name: Disable rpcbind
  ansible.builtin.systemd_service:
    name: rpcbind.service
    state: stopped
    enabled: false

- name: Create directory for local NRPE plugins
  ansible.builtin.file:
    path: "/usr/local/nrpe-plugins/"
    state: directory
    mode: "0755"

- name: Create symlink for utils.sh
  ansible.builtin.file:
    src: "/usr/lib/nagios/plugins/utils.sh"
    dest: "/usr/local/nrpe-plugins/utils.sh"
    state: link

- name: Install check_systemd_service NRPE plugin
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/usr/local/nrpe-plugins/{{ item }}"
    owner: root
    group: root
    mode: "a+x"
  loop:
    - check_systemd_service
    - check_jitsi_videobridge

- name: Enable NRPE-Server
  ansible.builtin.systemd:
    name: nagios-nrpe-server
    state: started
    enabled: true
