- name: Install role prerequisites
  ansible.builtin.package:
    name: ["gpg", "debconf-utils"]

- name: Add repository key for jisti.org
  ansible.builtin.get_url:
    url: "https://download.jitsi.org/jitsi-key.gpg.key"
    dest: "/etc/apt/keyrings/apt.jitsi.org.asc"
    mode: "0644"

- name: Add repository for Jitsi
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/apt.jitsi.org.asc] https://download.jitsi.org stable/"
    filename: jitsi

- name: Preconfigure hostname for postinst scripts of jitsi-meet-prosody package
  ansible.builtin.debconf:
    name: jitsi-meet-prosody
    question: jitsi-meet-prosody/jvb-hostname
    vtype: string
    value: "{{ inventory_hostname }}"

- name: Preconfigure hostname for postinst scripts of jitsi-videobridge package
  ansible.builtin.debconf:
    name: jitsi-videobridge
    question: jitsi-videobridge/jvb-hostname
    vtype: string
    value: "{{ inventory_hostname }}"

- name: Preconfigure jvb secret used to connect to XMPP server as Component. Used by postinst scripts of jitsi-videobridge package
  ansible.builtin.debconf:
    name: jitsi-videobridge
    question: jitsi-videobridge/jvbsecret
    vtype: password
    value: "{{ jvbpwd }}"

- name: Preconfigure password used by postinst scripts of jicofo package
  ansible.builtin.debconf:
    name: jicofo
    question: jicofo/jicofo-authpassword
    vtype: password
    value: "{{ jicofopwd }}"

- name: Preconfigure coturn password used by postinst scripts of jitsi-meet-prosody package
  ansible.builtin.debconf:
    name: jitsi-meet-prosody
    question: jitsi-meet-prosody/turn-secret
    vtype: password
    value: "{{ turnpwd }}"

- name: Tell installer to create a self signed certificate
  ansible.builtin.debconf:
    name: jitsi-meet
    question: jitsi-meet/cert-choice
    vtype: string
    value: "Generate a new self-signed certificate"

- name: Tell installer to not use JaaS telephony dial-in support
  ansible.builtin.debconf:
    name: jitsi-meet
    question: jitsi-meet/jaas-choice
    vtype: boolean
    value: false

- name: Install nginx, openjdk and jisti-meet
  ansible.builtin.apt:
    pkg: ["nginx-full", "default-jre-headless", "jitsi-meet", "jitsi-meet-turnserver","prosody", "lua-event", "lua-unbound"]
    update_cache: true
    state: latest
    install_recommends: true
