{
    // The hex value for the colour used as background
    //"backgroundColor": "#fff",
    // The url for the image used as background
    //"backgroundImageUrl": "/branding/example.png",
    // The anchor url used when clicking the logo image
    //"logoClickUrl": "https://{{ inventory_hostname }}",
    // The url used for the image used as logo
    //"logoImageUrl": "/branding/watermark.svg"
}
