{
    // The hex value for the colour used as background
    //"backgroundColor": '#fff',
    // The url for the image used as background
    //"backgroundImageUrl": '/images/example.png',
    // The anchor url used when clicking the logo image
    //"logoClickUrl": "https://{{ inventory_hostname }}",
    // The url used for the image used as logo
    //"logoImageUrl": "images/watermark.svg",
}
