// {{ ansible_managed }}

// get default config
<!--#include file="config.default.js" -->

// override default example domain names
config.hosts.domain = '{{ inventory_hostname }}';
config.hosts.anonymousdomain = 'guest.{{ inventory_hostname }}';
config.hosts.muc = 'conference.{{ inventory_hostname }}';
config.bosh = 'https://{{ inventory_hostname }}/http-bind';
config.websocket = 'wss://{{ inventory_hostname }}/xmpp-websocket';
config.websocketKeepAliveUrl = 'https://{{ inventory_hostname }}/_unlock';
config.dynamicBrandingUrl = 'branding/branding.json';
config.p2p.stunServers = [
    //{ urls: 'stun:meet-jit-si-turnrelay.jitsi.net:443' },
    { urls: 'stun:{{ inventory_hostname }}:3478' },
    { urls: 'stun:{{ inventory_hostname }}:5349' }
];

// get custom config
<!--#include file="config.local.js" -->
