// Use this file to override config properties from /usr/share/jitsi-meet-web-config/config.js
// See /usr/share/jitsi-meet-web-config/config.js for all options

// if websocket and bosh are configured, prefer bosh
config.preferBosh = true;

// disable analytics
config.analytics.disabled: true;

// enable p2p mode
config.p2p.enabled: true;
