// This overrides config properties from /usr/share/jitsi-meet-web-config/config.js
// See /usr/share/jitsi-meet-web-config/config.js for all options

configCustom = {
    // PUT YOUR CONFIG CHANGES HERE

    analytics: {
        // True if the analytics should be disabled
        disabled: true
    },

    // Allow all above example options to include a trailing comma and
    // prevent fear when commenting out the last value.
    makeJsonParserHappy: 'even if last key had a trailing comma'

    // no configuration value should follow this line.
};
