// This overrides config properties from /usr/share/jitsi-meet/interface_config.js
// See /usr/share/jitsi-meet/interface_config.js for all options

// PUT YOUR CONFIG CHANGES HERE

//interfaceConfig.MOBILE_APP_PROMO = false;
//interfaceConfig.APP_NAME = 'My Video Conferencing Service';
//interfaceConfig.MOBILE_APP_NAME = 'My Video Conferencing Service';
//interfaceConfig.DISPLAY_WELCOME_PAGE_CONTENT = true;
//interfaceConfig.SUPPORT_URL = 'https://example.com/ticket';
