// get default config
<!--#include file="interface_config-default.js" -->
let interfaceConfigDefault = JSON.parse(JSON.stringify(interfaceConfig));
interfaceConfig = {}

// get custom config
<!--#include file="interface_config-custom.js" -->

// merge both configs
interfaceConfig = Object.assign({}, interfaceConfigDefault, interfaceConfig);
