// This overrides config properties from /usr/share/jitsi-meet/interface_config.js
// See /usr/share/jitsi-meet/interface_config.js for all options

interfaceConfigCustom = {
    // PUT YOUR CONFIG CHANGES HERE



    // Allow all above example options to include a trailing comma and
    // prevent fear when commenting out the last value.
    // eslint-disable-next-line sort-keys
    makeJsonParserHappy: 'even if last key had a trailing comma'

    // No configuration value should follow this line.
};
