# Originaldateien liegen unter /usr/share/jitsi-meet/

# Benutzeroberfläche
location = /interface_config.js {
    alias /etc/jitsi/meet/{{ item }}/interface_config.js;
}

# Grafiken
location = /favicon.ico {
    alias /etc/jitsi/meet/{{ item }}/images/favicon.ico;
}
location = /images/favicon.ico {
    alias /etc/jitsi/meet/{{ item }}/images/favicon.ico;
}
location = /images/apple-touch-icon.png {
    alias /etc/jitsi/meet/{{ item }}/images/apple-touch-icon.png;
}
location = /images/watermark.svg {
    alias /etc/jitsi/meet/{{ item }}/images/watermark.svg;
}
